*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .9);
}
  
.codystar-regular {
    font-family: "Codystar", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
  margin: 0;
  background: linear-gradient(to bottom right, #f5e1ff, #dcbdfc, #c59af6, #a97ced);
  font-family: 'Codystar', sans-serif;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin: 40px 0 30px 0;
  color: blue;
}

.board {
  width: auto;
  height: auto;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  margin-bottom: 20px;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 5px solid rgb(177, 144, 168);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
  font-family: 'Codystar', sans-serif;
  font-size: 60px;
  color: navy;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell.x::before,
.cell.x::after {
  background-color: palevioletred;
}

.cell.circle::before,
.cell.circle::after {
  background-color: pink;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: blueviolet;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
}

#scoreContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 15px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  #scoreboard p {
    margin: 10px 0;
    color: blue;
    font-size: 30px;
    font-weight: bold;
  }
  
  #turnCounter {
    width: 200px;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: green;
  }
  

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(158, 241, 147, 1);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: lightseagreen;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}